<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
				<div class="navbar-header">
					<a href="navbar-brand" href="#">{{HeadCtrl.title}}</a> 
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
					</ul>
				</div>
</nav>