<table class="table table-hover">
	<thead>
		<tr>
			<td>Name</td>
			<td>Adresse</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a ui-sref="details">name1</a></td>
			<td>Adresse1</td>
		</tr>

		<tr>
			<td><a ui-sref="details">name1</a></td>
			<td>Adresse1</td>
		</tr>

		<tr>
			<td><a ui-sref="details">name1</a></td>
			<td>Adresse1</td>
		</tr>

		<tr>
			<td><a ui-sref="details">name1</a></td>
			<td>Adresse1</td>
		</tr>

		<tr>
			<td><a ui-sref="details">name1</a></td>
			<td>Adresse1</td>
		</tr>
		
	</tbody>
	
</table>