<div class="list-group">
    			<span href="#" class="list-group-item active">
                            Submenu
                            <span class="pull-right" id="slide-submenu">
                                <i class="fa fa-times"></i>
                            </span>
  				</span>
			    <a href="#" class="list-group-item">
			        <i class="glyphicon glyphicon-comment"></i> Menu 1
			    </a>
			    <a href="#" class="list-group-item">
			        <i class="glyphicon glyphicon-search"></i> Menu 2
			    </a>
			    <a href="#" class="list-group-item">
			        <i class="glyphicon glyphicon-user"></i> Menu 3
			    </a>
			    <a href="#" class="list-group-item">
			        <i class="glyphicon glyphicon-folder-open"></i> Menu 4
			    </a>
			    <a href="#" class="list-group-item">
			        <i class="glyphicon glyphicon-envelope"></i> Menu 5
			    </a>
			</div>